/* Fondo general de la página */
body {
    background-color: rgba(193, 163, 98, 0.4);
}

/* Encabezado principal */
h1 {
    color: rgb(193, 163, 98);
    text-align: center;
}

/* Personalización de los campos del formulario */
.form-control, .form-select, textarea {
    background-color: rgba(193, 163, 98, 0.1);
    border: 1px solid rgba(193, 163, 98, 0.6);
    color: #5a4a2e;
}

/* Cambiar el color del placeholder */
::placeholder {
    color: rgba(90, 74, 46, 0.7);
}

/* Botones */
.btn-primary {
    background-color: rgb(193, 163, 98);
    border-color: rgb(193, 163, 98);
}

.btn-danger {
    background-color: #dbba5e;
    border-color: #dbba5e;
}

/* Tabla */
.table thead {
    background-color: #dbba5e;
}

/* Efecto hover en las filas de la tabla */
.table tbody tr:hover {
    background-color: rgba(193, 163, 98, 0.2);
}
